fastapi
spacy
uvicorn[standard]
python-multipart
python-dotenv
pydantic
faster-whisper
sentence-transformers
torch
transformers
opencv-python
huggingface-hub
requests
numpy
pillow
aiofiles
httpx
language-tool-python
PyPDF2
flask