PORT=5000
NODE_ENV=development
FASTAPI_URL=http://localhost:8000
SESSION_SECRET=Edi-A4
MAX_AUDIO_SIZE_MB=25
UPLOAD_DIR=./uploads
MONGODB_URI=mongodb+srv://atharvadk27_db_user:23AniurqTYuAkvyB@cluster0.sczqnzi.mongodb.net/?appName=Cluster0
JWT_SECRET=9zk0Dhnzn5IURoocgGV+Flq1gs3L/jBMh7d3f6TTU9Y=